.AccountBalance {
  background-color: antiquewhite;
  width: 10%;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}


.WeeklyChange {
  background-color: aquamarine;
  width: 10%;
  padding: 20px;
  text-align: center;
}

.JournalContainer {
  margin: auto;
  background-color: gray;
  width: 80%;
  margin-top: 60px;
}